* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ece4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

li {
  list-style: none;
}

.title-box,
.input-box,
.task-container {
  padding: 15px;
  border: 1px solid rgb(205 205 205);
  background-color: #fff;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  font-style: italic;
  border: none;
  padding: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  outline: none;
}

.material-icons {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  height: auto;
  padding: 10px;
  border: 1px solid rgb(205 205 205);
}

.description {
  outline: none;
}

.to-do-list {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  gap: 15px;
}

.clear-btn {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  background-color: #e9e7e7;
  border: 1px solid rgb(205 205 205);
  color: rgb(97, 95, 95);
  cursor: pointer;
}
